
.title_section{
    background: url('../../../assets/images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    block-size: cover;
    padding-top: 200px;
    padding-bottom: 120px;
}

.title_section h2 {
     color: #fff;
     font-size: 3rem;
     font-family:'Prata';
     font-weight: 600;
     text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}